# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh
export EDITOR='vim'
export PATH=$HOME/bin:$HOME/.bin:$HOME/.local/bin:$PATH
export PATH=$HOME/github.com/discord/discord/.local/bin:$PATH

source ~/.zsh_aliases

zstyle ':omz:update' mode disabled  # disable automatic updates

plugins=(
  git
  {{ if ne .chezmoi.hostname "workspace" }}
  ssh-agent
  {{ end }}
  ripgrep
  gitfast
  aliases
  alias-finder
)

# ssh
zstyle :omz:plugins:ssh-agent agent-forwarding yes
zstyle :omz:plugins:ssh-agent identities id_rsa

source $ZSH/oh-my-zsh.sh


# Python wrapper
export VIRTUALENVWRAPPER_PYTHON=/usr/bin/python3.7
export WORKON_HOME=$HOME/.virtualenvs
source ~/.local/bin/virtualenvwrapper.sh

eval "$(starship init zsh)"
