{{ if eq .chezmoi.os "linux" -}}

#!/bin/sh
sudo apt update
sudo apt install ripgrep
sudo apt install python3 python3-pip curl
curl -sS https://starship.rs/install.sh | sh -s -- --yes
pip3 install --user virtualenvwrapper

{{ else if eq .chezmoi.os "darwin" -}}

#!/bin/sh
brew install ripgrep
brew install starship

{{ end -}}
